[Unit]
Description=Pixel Pepes Ordinal Verification Bot
After=network.target

[Service]
Type=simple
User=badua
WorkingDirectory=/home/badua/dev/projects/pixel_pepe_verifier
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/badua/dev/projects/pixel_pepe_verifier/venv/bin/python ordinal_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
